bin/
obj/
.vs/
.vscode/
*.user
*.suo
TestResults/
coverage-report/
*.trx
*.coverage
*.coveragexml
appsettings.Local.json
.env
*.db
*.bak
*.PublishSettings
*.pubxml

appservice-logs.zip

appservice-logs/
