@page "/admin/news/new"
@model NewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
  ViewData["AntiforgeryToken"] = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<div class="admin-shell">
  <partial name="_ArticleForm" model="Model.Form" />
</div>
