@page "/articles/page/{pageNumber:int}"
@model ArchivePageModel

<partial name="_Breadcrumbs" model="Model.Breadcrumbs" />

<h1>Articles archive</h1>

<partial name="_ArticlesArchiveList" model="Model.Items" />

<partial name="_ArchivePagination" model="ArticlesRoutes.GetArchivePaginationViewModel(Model.CurrentPage, Model.TotalPages)" />